/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Eliminar el margen predeterminado */
}

nav ul li {
    display: inline;
    margin-right: 32px; /* Agregar un margen de 32px entre cada elemento */
}

nav ul li:last-child {
    margin-right: 0; /* Eliminar el margen derecho del último elemento */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Estilos para el modo noche */
.modo-noche {
    background-color: #222; /* Fondo gris oscuro */
    color: #fff; /* Texto blanco */
}
